@font-face {
    font-family: 'Julius Sans One';
    src: url(./../../assets/fonts/JuliusSansOne-Regular.ttf);
}

@font-face {
    font-family: 'Archivo Narrow';
    src: url(./../../assets/fonts/ArchivoNarrow-BoldItalic.ttf),
        url(./../../assets/fonts/ArchivoNarrow-Bold.ttf),
        url(./../../assets/fonts/ArchivoNarrow-Italic.ttf),
        url(./../../assets/fonts/ArchivoNarrow-Regular.ttf);
}
