/* Document level adjustments */
html {
  font-size: 17px;
}
@media (max-width: 900px) {
  html { font-size: 15px; }
}
@media (max-width: 400px) {
  html { font-size: 13px; }
}

/* Type will scale with document */
h1 {
  font-size: 3rem;
  font-family: Julius Sans One;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}

p {
  font-family: Archivo Narrow;
}

.highlightz {
  color: green;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper img {
  margin: 1em;
}
