// Greater than 768px width (Ipad Mini in portait mode) is landscape mode
@media only screen and (min-width : 769px)

  .header_title
    font-size: 2rem

  .iconz
    height: 2rem

  .item_cards
    display: flex
    align-items: flex-start
